.container {
  max-width: 100vw;
  margin: 0 auto;

  &__schedule {
    width: 85%;
    margin: 0 auto;
  }
}
.section__card {
  position: relative;
}
.top {
  background-color: var(--color-primary);
  height: 30rem;
  display: flex;
  justify-content: center;
}

.container__card {
  position: absolute;
  left: 5%;
  top: 50%;
  width: 90%;
  height: 34rem;
  display: flex;
  justify-content: center;
}
.card {
  background-color: var(--color-white);
  flex: 0 0 27.8%;
  border-radius: 1rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0.1rem 0.4rem 1.5rem rgba(0, 0, 0, 0.308);

  > * {
    text-align: center;
  }

  &__icon {
    fill: var(--color-primary);
    width: 3rem;
    height: 3rem;

    &--schedule {
      width: 1.7rem;
      height: 1.7rem;
    }
  }
}
/////////////////////////////////////////////////
/// Image Graphics

.line {
  height: 80%;
  width: 60%;
  border: 0.5rem var(--color-primary) solid;
  border-radius: 3rem;
  position: relative;

  &__img {
    width: 95%;
    height: 88%;
    border-radius: 30rem;
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__circle {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 10rem;
    background-color: var(--color-primary);
    position: absolute;

    &-1 {
      top: 90%;
      left: -3.1%;
      z-index: 10;
    }
    &-2 {
      top: 5%;
      left: 98%;
      z-index: 10;
    }
  }
  &__gradient {
    height: 45%;
    width: 25%;
    border-radius: 1.4rem;
    z-index: 5;
    position: absolute;

    &--1 {
      background-image: linear-gradient(
        to bottom,
        var(--color-primary),
        var(--color-primary-light-extra)
      );
      left: 19%;
      top: 8%;
    }
    &--2 {
      background-image: linear-gradient(
        to top,
        var(--color-primary-light),
        var(--color-primary-light-extra)
      );
      top: 47%;
      right: 19%;
    }
  }
}

/////////////////////////////////////////////////
/// Footer styling
.footer {
  margin-top: 4rem;
  background-color: var(--color-primary-light-transparent);

  padding: 1rem;
}
.quick-links {
  text-align: center;
  &__author {
    padding: 1.6rem;
    display: flex;
    justify-content: space-between;
  }
  &__border {
    margin: auto;
    margin-top: 8rem;
    width: 90%;
    border: 1px var(--grey-light-4) solid;
  }
}

///////////////////////////
/// hearcard
.headerCard {
  background-image: linear-gradient(
    to right,
    #fff,
    var(--color-primary-light-transparent)
  );
  padding: 1rem 6rem;
}
.items {
  display: flex;
  gap: 0.8rem;
  justify-items: center;
  font-size: 1.4rem;
  font-weight: 400;
}
.item__data {
  display: flex;
  justify-items: center;
  gap: 0.5rem;
}
