.header {
  display: flex;
  justify-content: space-between;

  &__item {
    padding: 1rem;
    &--logo {
      cursor: pointer;
    }
  }
}
.list {
  list-style: none;
  margin-left: 20rem;
  &__item {
    display: inline-block;
    margin-right: 3rem;
  }
}
.nav:link,
.nav:visited {
  text-decoration: none;
  color: inherit;
}

.nav:hover {
  color: var(--color-primary);
}
