.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    padding: 1rem;

    &--logo {
      cursor: pointer;
    }
  }
}
.list {
  list-style: none;
  // margin-left: 20rem;

  &__item {
    &--horizontal {
      display: inline-block;
      margin-right: 3rem;
    }
    &--vertical {
      display: block;
      margin-bottom: 3rem;
    }
  }
}
.nav:link,
.nav:visited {
  text-decoration: none;
  color: inherit;
}

.nav:hover {
  color: var(--color-primary);
}
.nav:focus {
  color: var(--color-primary);
}
